<div class="editor-container">
    <MarkdownEditor @bind-Value="@markdownValue"
                    ValueHTMLChanged="@OnMarkdownValueHTMLChanged" MinHeight="calc(100vh - 110px)" MaxHeight="calc(100vh - 110px)" />

    @* <hr /> *@
    @* *@
    @* <h3>Result</h3> *@
    @* @((MarkupString)markdownHtml) *@
</div>
