<div class="editor-container">

    @if (IsEditing)
    {
        <MarkdownEditor @bind-Value="@_markdownValue"
                        ValueHTMLChanged="@OnMarkdownValueHTMLChanged"
                        MinHeight="calc(100vh - 110px)"
                        MaxHeight="calc(100vh - 110px)"/>
    }
    else
    {
        <div class="editor-preview" onclick="@OnPreviewClick">
            @((MarkupString)_markdownHtml)
        </div>
    }
</div>